:root {
	--bg: #323234;
	--color: #f9f9fa;
	--tab-line: #0a84ff;
	--faded-line: #0a84ff33;
	--field: #474749;
	--border: #595959;
	--faded-text: #8f8f8f;
    --config-bg: #262626;
    --config-color: #b0b0b0;
}
@media (prefers-color-scheme: light) {
	:root {
		--bg: #eee;
		--color: #333;
		--tab-line: #0a84ff;
		--faded-line: #0a84ff33;
		--field: #fff;
		--border: #bbb;
		--faded-text: #626262;
		--config-bg: #d7d7d7;
        --config-color: #595959;
	}
}

body {
	font: menu;
	user-select: none;
	background: var(--bg);
	color: var(--color);
	margin: 0 150px 0 0;
	text-align: center;
}
a {
	color: var(--color);
}

#tip_container {
	visibility: hidden;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 150px;
	font-size: 17px;
	color: var(--faded-text);
	text-align: center;
	z-index: -1;
}
#tip_container > div {
	display: inline-block;
	margin: 10px 20px;
	background: var(--bg);
    padding: 10px;
    border-radius: 4px;
}
#tip_container > div > span {
	display: inline-block;
    background: var(--faded-text);
    padding: 1px;
    margin: 0 6px 0 0;
    width: 27px;
    border-radius: 3px;
    font-size: 20px;
    color: var(--bg);
    font-weight: 600;
}

.window {
	background: var(--bg);
	position:absolute;
	border-radius: 0 0 5px 5px;
	border: 1px solid var(--border);
	transform-origin: center -50px;
}
.window .border{
	text-align:center;
	line-height:32px;
	border-bottom: 1px solid var(--border);
	border-top: 2px solid var(--bg);
}
.window .border:active {
	border-top: 2px solid var(--tab-line);
}

.window .resize {
	height: 20px;
	cursor: nwse-resize;
	border-top: 1px solid var(--border);
}
.window .dropzone {
	display: none;
	background: var(--faded-line);
	outline: 1px solid var(--tab-line);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.window .border span {
	width: 20px;
	height: 20px;
	fill: var(--color);
	-moz-context-properties: fill, fill-opacity;
}
.window .border .create_button {
	float: left;
	padding: 10px 0 0 15px;
	background: url("chrome://global/skin/icons/more.svg") no-repeat center;
	fill-opacity: 0.7;
}
.window .border .create_button:hover {
    fill-opacity: 1;
}
.window .border .close_button {
	float: right;
	margin: 5px 8px 0 0;
	background: url("chrome://global/skin/icons/close.svg");
	fill-opacity: 0;
}
.window .border .close_button:hover {
	cursor: initial;
	fill-opacity: 0.1;
}

.window main {
	font: icon;
	overflow: auto;
	min-width: 100%;
	min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, max-content));
    grid-template-rows: repeat(auto-fit, 85px);
}

.desktopFolder {
	background: var(--field);
	display: inline-block;
	min-width: 35px;
	padding: 10px;
	margin: 15px;
	border-radius: 4px;
	transition-duration: 0.5s;
	text-align: left;
}
body > .desktopFolder {
    box-shadow: 0 3px 10px #0003;
}
.desktopFolder:hover {
	box-shadow: 0 0 0 5px var(--border);
	transition-duration: 0s;
}
.desktopFolder:active {
    transform: translateY(2px);
}
.window main .desktopFolder {
    overflow: hidden;
	height: 40px;
}

.desktopLink {
    display: inline-block;
	text-decoration: none;
	padding: 15px;
}
.desktopLink img {
	margin-right: 4px;
	vertical-align: middle;
}
.desktopLink:hover {
	outline: 1px solid var(--tab-line);
	background: var(--faded-line);
}
.window main .desktopLink {
	overflow: hidden;
	height: 60px;
	word-break: break-word;
	text-align: center;
	padding: 10px;
}
.window main .desktopLink img {
	display: block;
	margin: auto;
}

#secureDrag {
	z-index:10;
	position:absolute;
	cursor: move;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#options {
	cursor: pointer;
	position: fixed;
	top: 15px;
	right: 15px;
	padding: 10px;
	border-radius: 4px;
	font-weight: 600;
	color: var(--config-color);
	background-color: var(--config-bg);
}
#options:hover {
	background-color: var(--border);
}
#delete_vortex {
	position: fixed;
	bottom: 0;
	text-align: center;
	padding: 10px;
	width: 100%;
	font-size: 50px;
	background: var(--bg);
	color: var(--faded-text);
	border-top: 1px solid;
	line-height: 150px;
	visibility: hidden;
}
#createFolderForm {
    position: absolute;
    top: 34px;
    left: 15px;
    background: var(--bg);
    border: 1px solid var(--border);
}
#createFolderForm label {
	padding: 10px;
}
#createFolderForm label input {
	padding: 5px;
	margin: 5px 0 5px 10px;
	border: none;
}

#renameForm input {
    padding: 0;
    font: icon;
}
