:root {
    --bg: #1c1b22;
    --color: #f9f9fa;
    --faded-color: #bbbbbb;
    --hi: #383546;
    --hi-click: #4d4769;
    --field: #2b2a33;
    --shadow: #00000066;
}
@media (prefers-color-scheme: light) {
	:root {
        --bg: #f0f0f4;
        --color: #333333;
        --faded-color: #595a5b;
        --hi: #dadae1;
        --hi-click: #cfcfd8;
        --field: #f9f9fb;
        --shadow: #00000015;
	}
}

body {
	font: menu;
	user-select: none;
	background: var(--bg);
	color: var(--color);
	margin: 20px auto 0 auto;
	max-width: max-content;
}
a {
	color: var(--color);
}

#tip_container {
	visibility: hidden;
	position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    color: var(--faded-color);
    text-align: center;
    z-index: -1;
    font-size: 17px;
}
#tip_container > div {
    text-align: left;
    line-height: 50px;
    display: inline-block;
}
#tip_container span {
    display: inline-block;
    background: var(--field);
    margin: 0 6px 0 0;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    width: 30px;
    line-height: 30px;
}

.window {
	position:absolute;
	border-radius: 10px;
	transform-origin: center -50px;
	box-shadow: 0 0 0 1px #0000000f, 0 5px 15px var(--shadow);
}
.window .border {
    background: var(--field);
    cursor: grab;
    border-radius: 10px 10px 0 0;
	text-align:center;
	line-height:32px;
}

.window .resize {
    margin: -10px;
	height: 20px;
	cursor: nwse-resize;
    position: relative;
}

.window .dropzone {
	display: none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.window .border span {
    cursor: default;
	width: 20px;
	height: 20px;
	padding: 2px;
	margin: 4px;
	border-radius: 6px;
	line-height: 25px;
	fill: currentColor;
}
.window .border .create_button {
	float: left;
}
.window .border .close_button {
	float: right;
}
.window .border span:hover {
    background-color: var(--hi);
}

.window main {
	font: icon;
	overflow: auto;
	min-width: 100%;
	min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, max-content));
    grid-template-rows: repeat(auto-fit, 85px);
	background: var(--bg);
    border-radius: 0 0 10px 10px;
}

.desktopFolder {
	background: var(--field);
	display: inline-block;
	min-width: 35px;
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
	box-shadow: 0 0 1px var(--shadow);
}
.desktopFolder:hover {
	background: var(--hi);
}
.desktopFolder:active {
	background: var(--hi-click);
}
.window main .desktopFolder {
    overflow: hidden;
	height: 40px;
}

.desktopLink {
    display: inline-block;
	text-decoration: none;
	padding: 15px;
	border-radius: 5px;
}
.desktopLink img {
	margin-right: 4px;
	vertical-align: middle;
	image-rendering: optimizespeed;
}
.desktopLink:hover {
	background: var(--hi);
}
.window main .desktopLink {
	overflow: hidden;
	height: 57px;
	word-break: break-word;
	text-align: center;
	padding: 10px;
}
.macOS .window main .desktopLink {
    height: 54px;
}
.desktopLink:active {
	background: var(--hi-click);
}
.window main .desktopLink img {
	display: block;
	margin: auto;
    image-rendering: optimizeSpeed;
}

#secureDrag {
	z-index:10;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

#quick-access {
    text-align: center;
}
#quick-access div {
    cursor: pointer;
    background-color: var(--bg);
    fill: var(--faded-color);
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: inline-block;
    transition-duration: 0.5s;
    border-radius: 4px;
}
#quick-access div:hover {
    transition-duration: 0s;
    background-color: var(--hi);
}

#delete_vortex {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 50px;
    background: var(--field);
    color: var(--hi-click);
    line-height: 150px;
    visibility: hidden;
    left: 0;
    right: 0;
}
#createFolderForm {
    position: absolute;
    top: 32px;
    left: 0;
    background: var(--field);
    right: 0;
    text-align: center;
}
#createFolderForm label {
	padding: 10px;
}
#createFolderForm label input {
	padding: 5px;
	margin: 5px 0 5px 10px;
}

#renameForm input {
    padding: 0;
    font: icon;
}

@media (forced-colors: active) {
    .window,
    .window .border span,
    .desktopFolder
    {
        outline: 1px solid;
    }

    .desktopFolder {
        transition-duration: unset;
    }

    .window .border {
        border-bottom: 1px solid;
    }

    .window .resize {
        border-top: 1px solid;
    }

    .desktopLink:hover {
        background: unset;
        text-decoration: underline;
    }
    .desktopFolder:hover {
        background: Highlight;
        color: Canvas;
    }
}
